<section class="main-product-wrapper">

    <div class="page-header container-fluid px-4" style="background-image: url('assets/img/visitng-card-banner.jpg'); background-color: #1f0006;">
        <ng-container>
            <h1 class="page-title fadeIn">{{pageTitle}}</h1>
            <ul class="breadcrumb fadeIn">
                <li><a href="" routerLink="/home"><i class="fas fa-home"></i></a></li>
                <li class="delimiter">/</li>
                <li>{{pageTitle}}</li>
            </ul>
        </ng-container>
    </div>
    
    <section class="cart-wrapper pb-5">
        <div class="container-fluid px-4 pt-5" style="min-height: 350px;">
            <p class="mt-5">Coming Soon</p>
        </div>
    </section>


     
</section>
