.old-price.big {
    margin: 0px 12px;
    font-size: 23px;
}
.discount.big {
    font-size: 21px;
}
.select-box {
    flex: 1;
}
span.left-car-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    height: 30px;
    width: 30px;
    background: #0000003d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    transition: all ease 0.3s;
}
span.left-car-btn:hover,
span.right-car-btn:hover {
    cursor: pointer;
    background: #00000065;
    transition: all ease 0.3s;
}
span.right-car-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    height: 30px;
    width: 30px;
    background: #0000003d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    transition: all ease 0.3s;
}
.carousel-inner {
    padding: 0px 70px;
}