
@media (max-width: 991px) {
    .top-header .container-fluid {
        flex-direction: column;
    }
    .left-area {
        flex-direction: column;
    }
    .follow-us {
        padding-right: 0px;
        border-right: 0px solid #ffffff;
        margin-bottom: 10px;
    }
    .left-area p span {
        display: none;
    }
    .left-area p.free {
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .newsletter-modal-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 40px 20px 10px;
    }
    .full-modal {
        padding-top: 5% !important;
    }
    p.first-news {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
    p.second-news {
        text-align: center;
        display: none;
    }
    .close-icon-wrapper {
        right: 20px;
    }
    .right-area {
        justify-content: center;
        padding: 0px !important;
    }
    .top-header .right-area a.second{
        margin: 0px 10px;
    }
    .ot {
        display: none;
    }
    .footer-2 .footer-bottom p.copyright {
        margin: 0px 0px 15px;
        text-align: center;
    }
    .footer-2 .footer-bottom {
        padding: 20px 0px 20px;
    }
    .footer-2 .footer-bottom .container-fluid{
        flex-direction: column;
        justify-content: center !important;
    }
    .footer-2 .footer-top {
        position: unset;
        flex-direction: column;
    }
    .single-footer-top {
        width: 100%;
        margin: 10px 0px;
    }
    .footer1 .footer-main > div {
        max-width: 100%;
        width: 100%;
    }
    .footer-box:not(:last-child) .footer-contant {
        margin-bottom: 35px;
    }
    section.newsletter {
        padding: 30px 0px;
    }
    p.newsletter-title {
        font-size: 18px;
    }
    section.newsletter .container-fluid > .d-flex {
        flex-direction: column;
    }
    a.newsletter-submit {
        padding: 0px 20px;
        height: 45px;
        margin-top: 20px;
    }
    section.newsletter .container-fluid > .d-flex .col-md-5 div  {
        justify-content: center !important;
    }
    section.extra-option {
        padding: 30px 15px;
    }
    .extra-option p.extra-title {
        font-size: 1.55rem;
        position: relative;
        flex: 1;
        font-weight: 600;
    }
    .extra-title::before {
        bottom: -13px;
    }
    .testi-wrapper {
        margin-top: 30px;
    }
    .accordion-area {
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .testi-content {
        padding: 20px 20px 0px;
    }
    .small-category-container img {
        width: 160px;
        object-fit: contain;
    }
    .small-category-container p.title {
        font-size: 23px;
    }
    .small-category-container-large p.title {
        font-size: 26px;
    }
    .small-category-container-large img {
        height: 205px !important;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    section.product-section {
        padding: 30px 10px 10px;
    }
    .discount-area {
        padding: 30px 0px;
    }
    .discount-area p.sub-heading {
        font-size: 18px;
        margin: 0px 0px 10px;
    }
    .discount-area p.heading {
        color: #aa2b1d;
        font-size: 30px;
        margin: 0px 0px 25px;
    }
    .discount-area a.title {
        font-size: 15px;
        width: 100%;
        margin: 0 auto;
        padding: 12px 12px;
        border-radius: 30px;
        font-weight: 400;
    }
    .discount-area a.title span {
        border-radius: 20px;
    }
    .product-container {
        padding-right: 15px;
    }
    .product-container .product-one {
        margin-bottom: 30px;
    }
    section.product-section h2 {
        margin: 20px 0px 50px;
    }
    .four-column .container-fluid {
        flex-wrap: wrap;
    }
    section.four-column .single-column {
        padding: 15px;
        margin-bottom: 20px;
    }
    .single-column i {
        font-size: 30px;
        max-width: 30px;
        margin-right: 30px;
    }
    section.four-column .container-fluid .col-md-3:not(:last-child) {
        margin-bottom: 15px;
    }
    .carousel-item, .carousel-item img {
        height: unset;
    }
    .product-gallery {
        flex-direction: column-reverse;
    }
    .product-thumbs {
        height: auto;
        flex-direction: row;
    }
    .product-thumb-wrap {
        height: auto;
        margin: 20px 0px 30px 0px;
        width: 100%;
    }
    .product-thumbs {
        width: 100%;
        overflow-x: auto !important;
        overflow-y: hidden;
    }
    .product-main-image img {
        height: 340px;
        width: 100%;
        object-fit: contain;
    }
    .cart-single-column {
        margin-bottom: 25px;
    }
    .cart-left-area, .cart-right-area {
        margin: 30px 0px 0px;
    }
    .page-header {
        background-size: cover;
        height: 150px;
    }
    .sm-width {
        min-width: 140px;
        padding-right: 40px !important;
    }
    .single-step-icon,
    .single-step.active .single-step-icon {
        font-size: 13px !important;
        height: 35px !important;
        width: 35px !important;
    }
    .single-step-text {
        font-size: 11px;
    }
    .single-checkout-step-Content {
        padding: 10px !important;
        min-height: 480px;
    }
    .single-address {
        flex-direction: column;
        padding: 20px 15px 20px;
    }
    .address {
        width: 100%;
    }
    .single-address .col-md-3.text-right {
        text-align: left !important;
        margin-top: 10px;
    }
    .single-address .col-md-3.text-right .btn-sm {
        min-width: 110px;
    }
    .cart-left-area {
        padding: 15px 15px !important;
    }
    .checkout-btn-wrapper {
        position: unset !important;
    }
    .payment-btn {
        margin-bottom: 10px;
    }
    app-checkout .full-modal {
        padding-top: 15% !important;
    }
    app-checkout .full-modal .login-modal {
        width: 90% !important;
        margin: 0 auto;
    }
    .address-modal {
        padding: 0px 20px 30px 15px;
    }
    .svw {
        margin-top: 25px;
        position: unset;
    }
    span.default-address i, span.billing-address i {
        font-size: 13px;
        margin-right: 11px;
    }
    app-checkout .full-modal .login-modal .btn-primary {
        padding: 0px 10px !important;
        min-width: 130px;
        font-size: 12px;
        height: 35px;
    }
    .sg-address {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
    .d-btn {
        margin-top: 15px;
    }
    .overview-item strong {
        margin-bottom: 20px;
    }
    .step-wrapper {
        /* flex-direction: column; */
    }
    .page-title {
        font-size: 30px;
        text-align: left;
    }
    .float-text {
        position: fixed;
        bottom: 0;
        z-index: 9999;
        background-color: #daaaa4;
        color: #aa2b1d;
        width: 100%;
        left: 0;
        height: 50px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 23px;
    }
    .float-text p  {
        margin: 0;
        font-size: 13px;
        color: #810000;
    }
    .so {
        background: #aa2b1d;
        padding: 6px 14px;
        font-size: 12px;
        border-radius: 4px;
        color: #ffffff;
    }
    .mobile-view .backdrop {
        content: "";
        position: fixed;
        background-color: #000000c7;
        height: 100vh;
        width: 100vw;
        top: 0;
        z-index: 1;
        left: 0;
    }
    .profile-options {
        border-radius: 10px !important;
        transition: all .3s ease !important;
        opacity: 0 !important;
        height: 0 !important;
        margin: 15px auto;
        position: fixed !important;
        background-color: #fff !important;
        z-index: 999;
        width: 80%;
        border: 1px solid #eaeaea;
        overflow-y: scroll;
        top: 43%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
    }
    .mobile-view .profile-options {
        opacity: 1 !important;
        transition: all .3s ease;
        height: 400px !important;
    }
    .single-order {
        flex-wrap: wrap;
    }
    .shop-table img {
        max-width: 70px;
        object-fit: cover;
        height: 70px;
    }
    .product-quantity {
        margin: 5px 0px;
    }
    .mob-mar {
        margin: 20px 0px;
    }
    .mob-cen {
        justify-content: center !important;
    }
    .mob-al-start {
        align-items: flex-start !important;
    }
    .student-profile-botton  {
        padding: 15px !important;
    }
    .mob-dtl-mar {
        margin: 30px 0px 5px;
    }
    .more-count {
        box-shadow: none;
    }
    a.view-design {
        font-size: 10px;
        width: 80px;
        justify-content: center;
    }
    a.view-design i {
        display: none;
    }
    section.main-designing-wrapper {
        height: 65vh !important;
    }
    .sd-right-area .sd-content-wrapper img {
        height: unset !important;
        object-fit: contain;
        width: 90% !important;
    }
    .accounts .btn-primary {
        margin-left: 0px !important;
        margin-top: 20px;
    }
    .status-options-wrapper {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .ac-wrapper {
        width: 90% !important;
    }
    .accounts .btn-primary {
        margin-top: 0px;
    }
    .mob-column {
        flex-direction: column;
    }
    img.chat-image-dm {
        height: 70px !important;
    }
    .chat-footer{
        padding: 10px !important;
    }
    .send-message {
        height: 30px !important;
        width: 30px !important;
        font-size: 14px !important;
    }
    .page-header .breadcrumb {
        justify-content: flex-start !important;
    }
    .review-modal .login-modal {
        width: 90% !important;
        margin: 0 auto;
    }
    .reached-top .sidebar-content.position-relative {
        position: relative !important;
        max-width: 100% !important; 
        top: 0px !important;
    }
    h4.comment-user {
        align-items: flex-start !important;
        flex-direction: column !important;
    }
    .comment-date {
        margin-left: 0px !important;
        margin-top: 10px !important;
    }
    app-designing section.main-designing-wrapper {
        height: 90vh !important;
        overflow-y: scroll !important;
        width: 90vw !important;
        position: unset !important;
    }
    img.template-image {
        height: auto !important;
        object-fit: contain !important;
    }
    app-designing .designing-modal-body-container {
        height: auto !important;
        flex-direction: column;
    }
    app-designing p.tab-heading-option {
        font-size: 14px !important;
    }
    app-designing span.close-modal {
        top: 4px !important;
        right: 4px !important;
    }
    .file-div {
        width: 100% !important;
    }
    .note-msg {
        width: 100% !important;
    }
    .goback-modal {
        position: unset !important;
    }
    .goback-modal p {
        text-align: center !important;
        padding: 20px 0px 10px !important;
    }
    .sd-left-area, .sd-right-area {
        width: 100% !important;
        box-shadow:  none !important;
    }
    .file-container img {
        margin: 10px !important;
    }
    span.file-remove {
        left: -10px !important;
    }
    app-designing .sd-btn-cart {
        margin-left: 0px !important;
    }
    .mob-header {
        flex-direction: column;
    }
    .mob-logo-center {
        text-align: center;
    }
    .mob-search-container {
        padding: 0px;
        margin-top: 10px;
    }
    .only-desktop {
        display: none;
    }
    .mobile-icon i {
        font-size: 20px;
    }
    .ompr-0 {
        padding-right: 0px;
    }
    .mobile-sidemenu {
        display: block;
        background: #810000;
        position: fixed;
        top: 0px;
        left: -100vw;
        right: 0px;
        bottom: 0px;
        z-index: 99999;
        padding-top: 15px;
        padding-bottom: 30px;
        width: 0%;
        overflow-y: auto;
        transition: all ease 0.4s;

    }
    .mobile-sidemenu.open{
        width: 100%;
        transition: all ease 0.4s;
        left: 0;
    }
    ul.navbar-nav a.nav-link {
        text-align: left !important;
    }
    span.close-sidemenu {
        position: absolute;
        top: 25px;
        right: 15px;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        color: #810000;
        border-radius: 50%;
        font-size: 23px;
    }
    img.sidemenu-logo {
        height: 60px;
        margin-bottom: 30px;
        margin-left: 4px;
    }
    div#navbarSupportedContent, .top-cart-area {
        display: none !important;
    }
    .mobile-sidemenu-bottom {
        text-align: left !important;
        margin-top: 35px;
        border-top: 1px solid rgb(255 255 255 / 26%);
        padding-top: 40px;
    }
    ul.mobile-sidemenu-bottom::after {
        content: none;
    }
    .middle-header {
        padding: 10px 0px 15px !important;
    }
    form.search-form {
        padding: 5px 12px !important;
    }
    input.search-box {
        padding: 8px 13px !important;
    }
    .middle-header .navbar-brand img.logo {
        height: 55px !important;
    }
    .heading-solution-button {
        background-color: #ffffff;
        color: #810000;
        font-weight: 600;
    }
    .single-accord button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff !important;
        text-decoration: none !important;
        padding: 0px 15px 0px 9px;
        margin-bottom: 12px;
    }
    .accord-detail {
        background: rgb(82, 2, 2);
        border-radius: 6px;
        padding: 15px;
    }
    .accord-single-cat {
        margin-bottom: 30px;
    }
    a.accord-single-cat-heading {
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
    }
    ul.accord-single-cat-subcat {
        margin-top: 12px;
    }
    li.pro a, li.subcat a {
        color: #ffffff;
        margin-bottom: 5px;
        display: flex;
        font-weight: 300;
        font-size: 13px;
    }
    .only-mobile {
        display: flex;
    }
    .hover-menu {
        display: none;
    }
    .newsletter-modal {
        padding-top: 25% !important;
    }
    .login-modal {
        width: 94%;
        margin: 0 auto;
    }
    .lgn-bnnr {
        display: none;
    }
    .close-icon-wrapper .login-close-butn {
        color: #ffffff !important;
    }
    .sidebar-fixed::before {
        left: -10px;
        right: -10px;
    }
}


 
/* @media (min-width: 576px) and (max-width: 768px) { 

} */



@media (min-width:  769px) and (max-width: 1200px) { 
    
}
 

@media (min-width: 1200px) {  
    
}
 
