img.empty-cart {
    height: 170px;
    margin-top: 35px;
}
p.cart-h {
    font-weight: 600;
    color: #333;
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 8px;
}
p.cart-sh {
    font-weight: 400;
    color: #333;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a.cart-btn {
    display: inline-flex;
    margin-top: 20px;
    background: #aa2b1d;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 46px;
    margin-bottom: 40px;
}