// CHAT CSS
.chat-area {
  margin-top: 35px;
}
.admin-chat .main-chat-area {
  margin-top: 0px;
  // width: 68%;
}
.chat-header {
  padding: 18px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  background: #aa2b1d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.user-main-image {
  height: 45px;
  width: 45px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 50%;
  background: #ffffff;
  padding: 2px;
}
p.chat-top-user-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  color: #ffffff;
}
p.chat-top-user-subtitle {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px;
  opacity: 0.5;
}
.chat-body {
  padding: 25px 12px;
  border-left: 1px solid #e7efff;
  border-right: 1px solid #e7efff;
  min-height: 210px;
  max-height: 400px;
  overflow-y: auto;
}
.admin-chat .chat-body {
  min-height: 400px;
}
img.chat-image-dm {
  position: absolute;
  right: -13px;
  height: 100px;
  opacity: 0.3;
}
// left chat
.left-chat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}
.left-chat-container {
  display: flex;
  align-items: center;
  max-width: 80%;
}
.left-chat-content-container {
  background-color: #fff4f3;
  border-radius: 10px;
  padding: 12px;
  margin-left: 10px;
  // max-width: 90%;
  position: relative;
}
.left-chat-content-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 9px solid #fff4f3;
}
.left-text {
  color: #aa2b1d;
  font-size: 13px;
  margin-bottom: 0px;
}
.chat-time-left {
  color: #bdbdbd;
  font-size: 10px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.user-image-left {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.user-image-left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}



// RIGHT CHAT
.right-chat {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-right: 12px;
}
.right-chat-container {
  display: flex;
  align-items: center;
  max-width: 88%;
}
.right-chat-content-container {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 12px;
  margin-right: 0px;
  // max-width: 90%;
  position: relative;
}
.right-chat-content-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid #e7e7e7;
}
.right-text {
  color: #333333;
  font-size: 13px;
  margin-bottom: 0px;
  text-align: right;
}
.chat-time-right {
  color: #bdbdbd;
  font-size: 10px;
  margin-bottom: 0px;
  margin-right: 15px;
}
.user-image-right {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  overflow: hidden;
}
.user-image-right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.chat-footer {
  background: #faf3f2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin-chat .chat-footer {
  border-bottom-right-radius: 10px;
}
textarea.chat-footer-input {
  flex: 1;
  border: 0px !important;
  outline: none !important;
  padding: 18px 15px;
  border-radius: 4px;
  resize: none;
}
.send-message {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #aa2b1d;
  padding: 8px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 22px;
  margin-left: 10px;
  transition: all ease 0.3s;
  border: none;
}
.send-message:hover {
  cursor: pointer;
  background: #0143c7;
  transition: all ease 0.3s;
}
span.online-dot {
  display: inline-flex;
  height: 8px;
  width: 8px;
  background: #4dcd52;
  border-radius: 50%;
  margin-left: 4px;
  opacity: 0;
}