<div style="margin-bottom: 10px;" class="mt-3 admin-chat chat-area">
  <!-- <div class="user-container">
      <div class="own-details">
          <img src="assets/img/support-staff.png">
          <h3>Sara Williamson</h3>
          <p>Sara@companyname.com</p>
      </div>
      <div class="user-list-box">
          <div class="search">
              <i class="fal fa-search toggle-search"></i>
              <input type="text" class="form-control" placeholder="Search">
          </div>
          <div class="people ps ps--active-y">
              <div class="person active" data-chat="person6">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Amanda Winston">Amanda Winston</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                          <div>
                              
                              <span class="chat-count">99</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person1">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Nijel Jonas">Nijel Jonas</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                          <div>
                              
                              <span class="chat-count">2</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person2">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Jennifer Clarke">Jennifer Clarke</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person3">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Dolph Green">Dolph Green</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person4">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Shee Huang Tee">Shee Huang Tee</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person5">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Rocky">Rocky</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person7">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Eerie Johnson">Eerie Johnson</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person8">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="John Obi Mikel">John Obi Mikel</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person9">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Xavier Doherty">Xavier Doherty</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>
              <div class="person" data-chat="person10">
                  <div class="user-info">
                      <div class="user-head mr-2">
                          <img src="assets/img/support-staff.png" alt="avatar">
                      </div>
                      <div class="user-body">
                          <h5 class="text-truncate strong mt-1 chat-user-name" data-name="Mitchell Clarke">Mitchell Clarke</h5>
                          <p class="text-muted font-11 text-truncate mb-0">Askla sasasajs asja saisa sasa sah </p>
                      </div>
                      <div class="user-footer ml-2 text-right">
                          <span class="chat-time font-10 text-success-teal">12:25</span>
                      </div>
                  </div>
              </div>                                     
          
          </div>
      </div>
  </div> -->
  <div class="main-chat-area">
      <div class="chat-header">
          <img src="assets/img/support-staff.png" class="user-main-image"/>
          <div>
              <p class="chat-top-user-title">Customer Support Executive <span class="online-dot"></span></p>
              <p class="chat-top-user-subtitle">Tell us your issue briefly</p>
          </div>
          <img src="assets/img/chat-box.png" class="chat-image-dm"/>
      </div>
      <div #chatMessageArea class="chat-body" *ngIf="chatUser && chatUser._id" (scroll)="sendScrollingNotification($event)">

        <ng-container *ngFor="let msg of messageList; index as i">
          <ng-container 
            *ngTemplateOutlet="chatTextTemplate;context:parseMessage(msg.data, msg.from === me.id, i, msg.created)">
          </ng-container>
        </ng-container>

          <!-- <div class="left-chat">
              <div class="left-chat-container">
                  <span class="user-image-left">
                      <img src="assets/img/support-staff.png"/>
                  </span>
                  <div class="left-chat-content-container">
                      <p class="left-text">Hello world kjaskjas yu</p>
                  </div>
              </div>
              <p class="chat-time-left">24 oct 2021</p>
          </div>

          <div class="right-chat">
              <p class="chat-time-right">24 oct 2021</p>
              <div class="right-chat-container">
                  <div class="right-chat-content-container">
                      <p class="right-text">Hello world kjaskjas yu</p>
                  </div>
              </div>
              
          </div> -->

      </div>
      <!-- <div class="chat-footer">
          <input type="text" class="chat-footer-input" placeholder="Write your message"/>
          <a class="send-message">
              <i class="fas fa-paper-plane"></i>
          </a>
      </div> -->
      <div class="chat-footer" *ngIf="chatUser && chatUser._id">
        <textarea #chatinput type="text" class="chat-footer-input" placeholder="Write your message" [(ngModel)]="chatText" (keypress)="sendTypingNotification($event)" (keypress)="autogrow()" (keyup)="autogrow()" (focusin)="onFocusKeyboard()" style="min-height: 70px;"></textarea>
        <button class="send-message" [disabled]="!chatText" (click)="sendMessage(chatText);">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
  </div>
</div>

<ng-template #chatTextTemplate let-type="type" let-data="data" let-isMyMsg="isMyMsg" let-msgIndex="msgIndex" let-created="created">

  <div class="left-chat" *ngIf="!isMyMsg">
    <div class="left-chat-container">
        <span class="user-image-left">
            <img src="assets/img/support-staff.png"/>
        </span>
        <div class="left-chat-content-container">
            <p class="left-text">{{data}}</p>
        </div>
    </div>
    <p class="chat-time-left">{{created | date: 'h:mm a, dd LLL yyyy'}}</p>
  </div>

  <div class="right-chat" *ngIf="isMyMsg">
      <p class="chat-time-right">{{created | date: 'h:mm a, dd LLL yyyy'}}</p>
      <div class="right-chat-container">
          <div class="right-chat-content-container">
              <p class="right-text">{{data}}</p>
          </div>
      </div>
      
  </div>

</ng-template>